.NavBar {
    background-color: #ffffff;
}

.NavLink {
    padding: 5px;
    color: #700365;
}

.Active {
    color: #EFCB58;
}

.Active i {
    color: #EFCB58;
}

.NavLinkMoon {
    color: #e9490a;
}

.NavLinkMoon :hover {
    color: #700365;
}

.ProfileDrop {
    color: #700365;
}
