.NavBar {
    background-color: #ffffff;
}

.NavLink {
    padding: 5px;
    color: #700365;
    text-decoration: none;
}

.Active {
    color: #EFCB58;
}

.Active i {
    color: #EFCB58;
}

.Profile {
    color: #700365;
}

.Username {
  margin-left: 3px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
}

.MoonNav {
  margin-left: auto;
}