

.NavLink {
  padding: 5px;
  color: #333;
  text-decoration: none;
  display: inline-block;
}

.Active {
    color: #EFCB58;
}

.Active i {
    color: #EFCB58;
}

.Profile {
    color: #700365;
}

.Username {
  margin-left: 3px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
}

.MoonNav {
  margin-left: auto;
  padding: 7px;
}

  
  @media (max-width: 767px) {
    .hideOnDesktop {
      display: inline;
    }
  }

.navbarItemsContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#theme-toggle:hover i {
  color: #EFCB58;
  transition: color ease-in-out 0.5s;
}




.DarkModeText {
  color: #ffffff;
}

.DarkModeActive {
  color: #EFCB58;
}









.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.welcomeText {
  font-size: 22px;
  font-weight: bold;
  margin: 16px;
  align-self: center;
}

.NavBar {
  transition: background-color 0.3s;
}


.NavLink.DarkModeText {
  color: #ffffff;
}

.NavLink.DarkModeActive {
  color: #EFCB58;
}


.DarkModeDropdown {
  background-color: #1a1a1a !important;
}

.DarkModeDropdown::after {
  border-top-color: #1a1a1a !important;
}

.DarkModeToggler {
  color: #ffffff !important;
}

.WhiteToggler {
  color: #ffffff !important;
}

.NavBar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
